@font-face {
  font-family: "Gelion";
  font-weight: 300;
  src: url("./Gelion-Light.ttf");
}

@font-face {
  font-family: "Gelion";
  font-weight: 400;
  src: url("./Gelion-Regular.ttf");
}
@font-face {
  font-family: "Gelion - Semi Bold";
  font-weight: 400;
  src: url("./Gelion-SemiBold.ttf");
}

@font-face {
  font-family: "Gelion";
  font-weight: 500;
  src: url("./Gelion-Medium.ttf");
}

@font-face {
  font-family: "Gelion";
  font-weight: 700;
  src: url("./Gelion-Black.ttf");
}
