.home-hero {
  padding: 80px 40px 40px 80px;
  background: linear-gradient(0deg, #f8faff -25%, #f6f9ff 125%);
  border-radius: 60px;
  .left-side {
    max-width: 700px;
    .title {
      margin-bottom: 40px;
      position: relative;
    }
    .subtitle {
      font-size: 27px;
      font-weight: 400;
      line-height: 41px;
      margin-bottom: 60px;
    }
    .bottom-text {
      font-size: 20px;
      line-height: 41px;
      margin-top: 16px;
    }
    @include mq("tablet", max) {
      text-align: center;
      .title {
        margin-bottom: 20px;
      }
      .subtitle {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 20px;
      }
    }
  }
  .right-side {
    position: relative;
    .review-img {
      top: 0;
      left: 60px;
      width: fs(85px, 240px);
      height: fs(50px, 139px);
    }
    .menu-img {
      top: calc(40% - 50px);
      left: 0;
      transform: translateY(-50%);
      width: fs(85px, 223px);
      height: fs(105px, 323px);
      animation-duration: 13s;
    }
    .deals-img {
      top: fs(43px, 100px);
      right: 20px;
      width: fs(80px, 227px);
      height: fs(54px, 153px);
      animation-duration: 7s;
    }
    .question-img {
      top: 35%;
      right: -20px;
      width: fs(89px, 250px);
      height: fs(156px, 423px);
      animation-duration: 9s;
      @include mq("tablet", max) {
        right: 0;
      }
    }
    .qr-img {
      bottom: 0px;
      left: 50px;
      width: fs(55px, 135px);
      height: fs(55px, 135px);
      animation-duration: 4s;
      @include mq("desktop", max) {
        bottom: 50px;
      }
    }
  }
  @include mq("laptop", max) {
    padding: 40px 20px;
    .right-side {
      margin-top: 40px;
    }
  }
}

.wow-clients {
  margin: 145px 0;
  @include mq("tablet", max) {
    margin: 70px 0;
  }
  @include mq("phone", max) {
    margin: 50px 0;
  }
}

.app-slider {
  z-index: 2;
  @include mq("desktop") {
    max-width: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-container {
  margin: 145px 0;
  @include mq("tablet", max) {
    margin: 70px 0;
  }
  @include mq("phone", max) {
    margin: 50px 0;
  }
}

.app-arrows {
  @include mq("desktop", max) {
    display: block;
  }
}

.pricing-arrows {
  @include mq("laptop", max) {
    display: block !important;
  }
}

.float {
  position: absolute;
  animation: float 12s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
