.home-hero {
  padding: 80px 40px 40px 80px;
  background: linear-gradient(0deg, #f8faff -25%, #f6f9ff 125%);
  border-radius: 60px;
  .left-side {
    max-width: 700px;
    .title {
      margin-bottom: 40px;
    }
    .subtitle {
      font-size: 27px;
      font-weight: 400;
      line-height: 41px;
      margin-bottom: 60px;
    }
    .bottom-text {
      font-size: 20px;
      line-height: 41px;
      margin-top: 16px;
    }
    @include mq("tablet", max) {
      text-align: center;
      .title {
        margin-bottom: 20px;
      }
      .subtitle {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 20px;
      }
      .bottom-text {
      }
    }
  }

  @include mq("tablet", max) {
    padding: 40px 20px;
    .right-side {
      margin-top: 40px;
    }
  }
}
