* {
  font-family: "Gelion";
  margin: 0;
  padding: 0;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  position: relative;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  @include mq("desktop") {
    max-width: calc(100% - 150px);
    padding-left: 90px;
    padding-right: 90px;
  }
}

main {
  margin-top: 115px;
}
