h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 44px;
  line-height: 46px;
  letter-spacing: -0.03em;
  @include mq("tablet", max) {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.035em;
  }
  @include mq("phone", max) {
    font-size: 34px;
    line-height: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.035em;
  @include mq("phone", max) {
    font-size: 34px;
    line-height: 40px;
  }
}

h3 {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.035em;
  @include mq("phone", max) {
    font-size: 20px;
    line-height: 26px;
  }
}

h4 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.025em;
  @include mq("phone", max) {
    font-size: 18px;
    line-height: 20px;
  }
}

h5 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.025em;
}

h6 {
  font-size: 20px;
  line-height: 28px;
}

p {
  @extend %text-body2;
  margin: 0;
  @include mq("phone", max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.caption {
  @extend %text-caption;
}

.body1 {
  @extend %text-body1;
}
.body2 {
  @extend %text-body2;
}
