h1 {
  font-size: fs(60px, 105px);
  line-height: 100px;
  letter-spacing: -3.18px;
  font-weight: 700;
  @include mq("tablet", max) {
    line-height: 82px;
    letter-spacing: -2.34px;
  }
}

h2 {
  font-size: fs(50px, 70px);
  letter-spacing: -2.1px;
  line-height: 105px;
  font-weight: 700;
  @include mq("tablet", max) {
    letter-spacing: -1.5px;
    line-height: 50px;
  }
}
h4 {
  font-family: "Gelion - Semi Bold";
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.78px;
}

.txt-green {
  color: $green;
}

.blue-line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 10px;
    height: 21px;
    border-radius: 5px;
    width: 100%;
    background-color: #4478db;
    opacity: 0.25;
  }
}

p {
  font-family: "Gelion";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0;
}
