h1 {
  font-size: fs(35px, 105px);
  line-height: fs(46px, 106px);
  letter-spacing: -3.18px;
  font-weight: 700;
  @include mq("tablet", max) {
    letter-spacing: -2.35px;
  }
}

h2 {
  font-size: fs(30px, 70px);
  letter-spacing: -2.1px;
  line-height: fs(32px, 105px);
  font-weight: 700;
  @include mq("tablet", max) {
    margin-bottom: 14px;
    letter-spacing: -1.53px;
  }
}
h3 {
  font-size: fs(22px, 35px);
  font-weight: 700;
  line-height: fs(26px, 45px);
  letter-spacing: -1.05px;
  @include mq("tablet", max) {
    letter-spacing: -1.12px;
  }
}
h4 {
  font-family: "Gelion-SemiBold";
  font-size: fs(16px, 26px);
  font-weight: 400;
  line-height: fs(21px, 35px);
  letter-spacing: -0.78px;
}

.txt-green {
  color: $green;
}

.blue-line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 10px;
    height: 21px;
    border-radius: 5px;
    width: 100%;
    background-color: #4478db;
    opacity: 0.25;
    @include mq("desktop", max) {
      height: 12px;
      border-radius: 3px;
      opacity: 0.3;
      bottom: 5px;
    }
    @include mq("phone", max) {
      border-radius: 2px;
      height: 8px;
      bottom: 3px;
    }
  }
}

p {
  font-family: "Gelion";
  font-size: fs(18px, 20px);
  font-weight: 400;
  line-height: fs(22px, 27px);
  margin-bottom: 0;
}
